
.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
}

.search-bar__title {
    font-size: 45px;

    user-select: none;
}

.search-bar__input {
    padding: 0 10px;
    
    border-radius: 1rem;

    font-size: 3rem;

    color: #333;
}

.search-bar__input::placeholder {
    font-style: italic;
}
