@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #fdbb2d;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;
}

.search-bar__title {
  font-size: 45px;
}

.search-bar__input {
  font-size: 3rem;
  border-radius: 1rem;
  padding: 0 10px;
}

input {
  font-family: 'Roboto', sans-serif;
}

.movies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  height: 100%;
}

.movie {
  display: flex;

  /* y축으로 정렬 */
  flex-direction: column;

  /* x 축 중앙 배치 */
  align-items: center;

  gap: 8px;

  width: 100%;
}

.movie__description {
  display: flex;

  /* y축으로 정렬 */
  flex-direction: column;

  /* x 축 중앙 배치 */
  align-items: center;

  gap: 4px;
}

.movie__title {
  margin: 0;

  display: flex;
  align-items: end;

  height: 3em;

  /* 이렇게 하지 않으면 줄바꿈 할 때 중앙 배치가 안 됨. 이유 = ? */
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.movie__year {
  font-size: 20px;
}

.movie__poster {
  width: 65%;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  width: calc(100vw - 20px);
  margin-right: 20px;

  /* 전체 색상 설정 */
  color: #ddd;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: linear-gradient(95deg, #1a2a6c, #b21f1f, #fdbb2d);
}
